.Footer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bbb {
    width: 30%; /* Adjust this based on your layout preferences */
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 0rem 0rem 2rem;
}

.companies {
    color: aliceblue;
    width: 100%;
    margin: 0.5rem;
    align-items: center;
}
.bbb ul {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-follow {
    width: 30%; /* Adjust this based on your layout preferences */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hh {
    color: white;
    width: 100%;

    text-align:center;
}

.image {
    height: 10%;
    width: 10%;
    margin: 1rem 0rem 1rem 3rem;
    display: inline;
    background-color: black;
}

h3 {
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}
