.product-items{
    height:100%;
    width:100%;
    border: 0px;
    margin: 0px;
    padding: 1rem;
}
.boxes{
    height: 20rem;
    width: 30rem;
    background-color: white;  /* Transparent white background */
    margin: 1rem;
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.photos{
    padding: 2rem 0px 0px 0px;
    height: 13rem;
    width: 13rem;
}